#gallery {
    display: flex;
    flex-direction: column;
}

.imageList {
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.imageItem {
    padding: 40px;
    height: 300px;
}


/* STYLES FOR TASK #6 */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

/* STYLES FOR TASK #8 */

#boxes {
  display: flex;
  flex-direction: row;
}